.container {
  padding: 5px;
  background-color: yellow;
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "navbar"
  "empty"
  "content"
  "sidebar"
  "footer";
  
}
  .container {
    grid-template-columns: 1fr 60% 30% 10px;
    grid-template-areas:
    "navbar navbar navbar navbar"
    ". content sidebar ."
    "footer footer footer footer" ;
  }


  
navbar.nav {
  background-color: indianred;
  grid-area: navbar;
}
navbar.nav ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

main.main {
  background-color: bisque;
  grid-area: content;
}

.main iframe {
  width: 640px;
  height: 360px
}

aside.side {
  background-color: aqua;
  grid-area: sidebar;
}
.side .media-group{
  display: flex;
}
.side .media-group img {
  width: 168px;
  height: 94px;
}

footer.footer {
  background-color: cadetblue;
  grid-area: footer;
}
